/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include "behaviors/behavior_esc_layer_switch.dtsi"

#define MOVE_BASE (ZMK_POINTING_DEFAULT_MOVE_VAL)
#define MOVE_FAST (MOVE_BASE * 3)

#define SCROLL_BASE (ZMK_POINTING_DEFAULT_SCRL_VAL * 16)
#define SCROLL_FAST (SCROLL_BASE * 3)

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  G  |   |  J  |  L  |  U  |  Y  |  ;  | ESC/BSPC |
// | LSHFT|  A  |  R  |  S  |  T  |  D  |   |  H  |  N  |  E  |  I  |  O  |    '     |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  K  |  M  |  ,  |  .  |  /  |   GUI    |
//                    | LALT| LWR |SPACE|   | RET | RSE |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp F &kp P &kp G   &kp J &kp L  &kp U     &kp Y   &kp SEMI &lt 5 ESC
   &kp LSHFT &kp A &kp R &kp S &kp T &kp D   &kp H &kp N  &kp E     &kp I   &kp O    &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp K &kp M  &kp COMMA &kp DOT &kp FSLH &kp LGUI
                  &to_rus LALT 0 &mo 3 &kp SPACE   &kp RET &mo 4
                        >;
                };

                russian_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  | T ` |   |  Y  |  U  | I O |  P  |  [  | ESC/BSPC |
// | LSHFT|  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |    '     |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  | M ] |  ,  |  .  |  /  |   GUI    |
//                    | LALT| LWR |SPACE|   | RET | RSE |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &hold GRAVE T   &kp Y   &kp U        &hold O I      &kp P   &kp LBKT &lt 5 ESC
   &kp LSHFT &kp A &kp S &kp D &kp F &kp G           &kp H   &kp J        &kp K          &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B           &kp N   &hold RBKT M &kp COMMA      &kp DOT &kp FSLH &kp LGUI
                &to_eng LALT 0 &mo 3 &kp SPACE       &kp RET &mo 4
                        >;
                };

                mouse_layer {
// -----------------------------------------------------------------------------------------
                        bindings = <
   &trans &trans &none  &none  &none  &none      &none  &none    &mkp MB3 &none     &none &trans
   &trans &trans &none  &none  &none  &none      &mo 9  &mkp MB1 &mo 6    &mkp MB2  &mo 7 &none
   &trans &trans &trans &trans &trans &trans     &none  &mkp MB4 &mkp MB5 &none     &none &trans
                      &kp LALT &trans &trans     &trans &trans
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB  | PSCR |  DEL  |  UP  | BSPC | PGUP |   |  *  |  7  |  8  |  9  |  /  | ESC |
// | LSHFT | HOME | LEFT  | DOWN | RGHT | END  |   |  +  |  4  |  5  |  6  |  -  |     |
// | CTRL  |      | VOL-  | MUTE | VOL+ | PGDN |   |  0  |  1  |  2  |  3  |  .  |     |
//                        | LALT |      |SPACE |   | RET |     |
                        bindings = <
   &kp TAB     &kp PSCRN   &kp DEL      &kp UP      &kp BSPC     &kp PGUP        &kp ASTRK   &kp N7   &kp N8   &kp N9   &kp FSLH  &kp ESC
   &kp LSHFT   &kp HOME    &kp LEFT     &kp DOWN    &kp RIGHT    &kp END         &kp PLUS   &kp N4   &kp N5   &kp N6   &kp MINUS &trans
   &kp LCTRL   &trans      &kp C_VOL_DN &kp C_MUTE  &kp C_VOL_UP &kp PGDN       &kp N0     &kp N1   &kp N2   &kp N3   &kp DOT   &trans
                                                &kp LALT    &trans      &kp SPACE               &kp RET       &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | ESC |
// | LSHFT|     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `  |
// | CTRL |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~  |
//                    | LALT|     |SPACE|   | RET |     |
                        bindings = <
   &kp TAB   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp ESC
   &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
   &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                             &kp LALT &trans   &kp SPACE   &kp RET   &trans
                        >;
                };

                f_layer {
// -----------------------------------------------------------------------------------------
// |   |    |    |    |    |    |   |  F12  |  F7  | F8  |  F9  |    |   |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | F11 | F4 |  F5 | F6 |     |   |
// |  |     |     |     |     |     |   |   F10  |   F1  |   F2  |  F3   |     |   |
//                    | |     |  |   |  |     |
                        bindings = <
   &trans      &trans   &trans   &trans   &trans   &trans      &kp F12   &kp F7   &kp F8   &kp F9   &trans   &trans
   &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &kp F11   &kp F4   &kp F5   &kp F6   &trans   &trans
   &trans      &trans   &trans   &trans   &trans   &trans      &kp F10   &kp F1   &kp F2   &kp F3   &trans   &trans
                                                &trans      &trans      &trans               &trans       &trans
                        >;
                };
 
                // When held, mouse move keys become scrolling commands.
                scroll_layer {
// -----------------------------------------------------------------------------------------
// |  (cursor)   |  (cursor)   |   |  scroll-left/up/down/right |      | LMB | MMB | RMB |
                        bindings = <
   &none &none &none          &msc MOVE_Y(SCROLL_BASE)   &none           &none      &none &none    &mkp MB3 &none    &none &none
   &none &none &msc MOVE_X(-SCROLL_BASE) &msc MOVE_Y(-SCROLL_BASE) &msc MOVE_X(SCROLL_BASE) &none      &none &mkp MB1 &none    &mkp MB2 &none &none
   &none &none &none          &none          &none           &none      &none &mkp MB4 &mkp MB5 &none    &none &none
                              &none          &none           &none      &none &mo 8
                        >;
                };

                mouse_shift_layer {
// -----------------------------------------------------------------------------------------
                        bindings = <
   &none &none &none          &mmv MOVE_Y(-MOVE_BASE)   &none           &none      &none &none    &mkp MB3 &none    &none &none
   &none &none &mmv MOVE_X(-MOVE_BASE) &mmv MOVE_Y(MOVE_BASE) &mmv MOVE_X(MOVE_BASE) &none      &none &mkp MB1 &mo 6    &mkp MB2 &none &none
   &none &none &none          &none          &none           &none      &none &mkp MB4 &mkp MB5 &none    &none &none
                              &none          &none           &none      &none &mo 7
                        >;
                };

                scroll_shift_layer {
// -----------------------------------------------------------------------------------------
                        bindings = <
   &none &none &none          &msc MOVE_Y(SCROLL_FAST)   &none           &none      &none &none    &mkp MB3 &none    &none &none
   &none &none &msc MOVE_X(-SCROLL_FAST) &msc MOVE_Y(-SCROLL_FAST) &msc MOVE_X(SCROLL_FAST) &none      &none &mkp MB1 &none    &mkp MB2 &none &none
   &none &none &none          &none          &none           &none      &none &mkp MB4 &mkp MB5 &none    &none &none
                              &none          &none           &none      &none &mo 8
                        >;
                };

                screen_layer {
// -----------------------------------------------------------------------------------------
                        bindings = <
   &none &none &none          &kp LG(TAB)   &none           &none      &none &none    &mkp MB3 &none    &none &none
   &none &none &kp LC(LG(LEFT)) &kp LG(D) &kp LC(LG(RIGHT)) &none      &none &mkp MB1 &none    &mkp MB2 &none &none
   &none &none &none          &none          &none           &none      &none &mkp MB4 &mkp MB5 &none    &none &none
                              &none          &none           &none      &none &none
                        >;
                };
        };
};
