#include <zephyr/dt-bindings/input/input-event-codes.h>

&trackball {
    /delete-property/ irq-gpios;
    /delete-property/ cpi;
    /delete-property/ evt-type;
    /delete-property/ x-input-code;
    /delete-property/ y-input-code;
    motion-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    zephyr,axis-x = <INPUT_REL_X>;
    zephyr,axis-y = <INPUT_REL_Y>;
    res-cpi = <800>;
};

&trackball_split {
    status = "disabled";
};

/ {
    split_inputs {
        trackball_input: trackball_input@0 {
            compatible = "zmk,input-split";
            reg = <0>;
            status = "okay";
            device = <&trackball>;
        };
    };
};
